html, body {
    display: inline;
    justify-content: center;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}
body {
    
    background-color: #444649;
    color: white;
}





a.logo {
    display: flex;
    justify-content: center;
    background-color: #416a9900;

    
}






    
.image-logo {
    background-color: #bb0c0c00;
    border: none;
    
  
}

.img {
    display: flex;
    border-radius: 25%;
    width: 200px;
    height: 200px;
}



    
    










    
.search  {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #85db509a;
    width: 6%;
    text-align: #ffffff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    text-indent: 11px;
    border: none;
    outline: none;
   

}

.search:focus-within {
    transition: 2s;
    width: 400px;
    box-shadow: #14ff1f 0px 0px 10px 0px;
    
    


    


}





.search.search::placeholder {
    
    color: hsl(0, 0%, 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    text-indent: 11px;
    
}   


    






.search-button {
    display: flex;
    border-radius: 15px;
    background-color: #3b87dd;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff88;
    padding: 10px;  
    border: 1px solid #416a99;
    

 }
.search-button:active {
    background-color: #a9dcfafd;
    color: #a9c6fc;
    border: 2px solid #416a99;
    transition: 0.2s;
    transform: perspective(1px) scale(0.95);
    box-shadow:#537ff7 0px 0px 30px 10px;


 }


.satauri {
    display: flex;
    justify-content: flex-start;
    border: none;
    
    
    
    
    
 }




.m {
    display: flex;
    height: 60px;
    font-size: 40px;
    padding: 1px;
    margin: 2px;
    border-radius: 10px;
    background-color: #00397900;
 }
 






.h4 {
    transition: 0.3S;
    transform: rotate(360deg);
    color: #36363600;
       
}







h1>div>#m1 {
    color: #ffd8d8;
    
}
h1>div>#m2 {
    color: #ffd8d8;
}
h1>div>#m3 {
    color: #ffd8d8;
}

h1>div>#m4 {
    color: #ffd8d8; 
}
h1>div>#m5 {
    color: #ffd8d8; 
}

h1>div>#m6 {
    color: #ffd8d8; 
}
h1>div>#m7 {
    color: #ffd8d8; 
}
h1>div>#m8 {
    color: #ffd8d8; 
}
h1>div>#m9 {
    color: #ffd8d8; 
}
h1>div>#m10 {
    color: #ffd8d8; 
}
h1>div>#m11 {
    color: #ffd8d8; 
}

h1>div>#m12 {
    color: #ffd8d8; 

}

h1>div>#m13 {
    color: #ffd8d8; 
}




















h1>div>#m13:hover {
    color: #f13232;
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(60deg);
}
h1>div>#m12:hover {
    color: #f14b09;
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(-60deg);
}

h1>div>#m11:hover {
    color: #ffe600;
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(60deg);
}

h1>div>#m10:hover {
    color: #2bff00; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(-60deg);
}
h1>div>#m9:hover {
    color: #03ffdd; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(60deg);
}

h1>div>#m8:hover {
    color: #5d65ad; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(-60deg);
}
h1>div>#m7:hover {
    color: #7600ad; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(60deg);
}
h1>div>#m6:hover {
    color: #ff0080; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(-60deg);
}
h1>div>#m5:hover {
    color: #0891a3; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(60deg);
}
h1>div>#m4:hover {
    color: #047012; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(-60deg);
}
h1>div>#m3:hover {
    color: #530342; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(-60deg);
}

h1>div>#m2:hover {
    color: #9cc700; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(-60deg);

}

h1>div>#m1:hover {
    color: #74ad5d; 
    transition: 0.5ms;
    transform: perspective(1px) scale(1.5);
    transition: 0.3S;
    transform: rotate(60deg);
    
}














 .container {
    
    display: flex;
    justify-items: center;
    margin-left: 5px;
    border: 6px solid gray;
    padding: 5px;
    border-radius: 20px;
    width: 98%;
    height: 50px;
    
   
    


 }

 



 .container>.box {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #757e8b;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    margin: 1px;    
 }

.box:hover {
    padding-inline-start: none;
    background-color: #8ad36e9a;
    transition: 0.1s;
    transform: perspective(1px) scale(1.5);
    box-shadow: #bb0c0c 0px 0px 10px 0px;
    border-bottom: 10px solid #af0000;
    
    
}


.footer-local {
    border: 1px solid black;
    position: fixed;
    bottom: 5px;
    width: 98%;
    height: 60px;
    background-color: #575757;
    border-radius: 30px;
    padding: 20px;
    text-align: 20px;
     

    
    
}





.footer { 
   display: flex;
   justify-content: center;
    color: #f0f6fa;
    font-size: 20px;

    
}